body {
    background-color: #000000;
    background-image: url('background.jpg');
    background-position: top;
    background-repeat: repeat-y;
    background-size: auto;
    width: 90%;
    font-family: sans-serif;
    margin: 0 auto;
}
    ul {
    padding: 0px;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

p, label, div.form-field {
    font-size: 14px;
}

header {
    margin: 25px;
}

    header h1 {
        text-align: left;
        font-size: 30px;
        color: #FFFFFF;
    }

    header p {
        color: #FFFFFF;
        font-size: 12px;
    }

    header img {
        height: 110px;
        display:inline-block;
    }

nav {
    margin-top: 25px;
}

    nav h2, nav p {
        color: #FFF;
        margin-left: 25px;
    }

    nav p {
        font-size: 12px;
        font-style: italic;
    }



li {
    padding-bottom: 4px;
}

    li a {
        color: #0D118B;
        text-decoration: none;
        font-size: 18px;
        text-align: center;
    }

nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

    nav ul li {
        background-color: #FFF;
        border-radius: 8px;
        list-style: none;
        text-align: center;
        flex-grow: 1;
        padding-top: 5px;
        margin: 0 10px;
        max-width: 200px;
    }

a {
    text-decoration: none;
}


li a:hover {
    text-decoration: underline;
}

.centeredPanel {
    background-color: darkolivegreen;
    color: white;
    text-align: center;
}

.home-tile {
    height: auto;
    width: 90%;
    border: solid;
    border-radius: 10px;
    display: inline-block;
    margin: 7px;
    margin-bottom: 12px;
    background-color: white;
}

.home-img {
    display: inline;
    height: 300px;
    width: 400px;
    border: medium;
    border-color: black;
    border-radius: 13px;
    border-width: thick;
}

.home-text {
    color: black;
}

.column {
    float: left;
    width: 45%;
    margin-right: 20px;
    margin-left: 0px;
}

.home-title {
    margin: 22px;
}

.detail-tile {
    margin: 5%;
    height: 90%;
    width: 90%;
    background-color: white;
    color: black;
}

.block {
    height: 500px;
    width: 25%;
    border: solid;
    border-color: black;
    border-radius: 6px;
    display: inline-block;
    margin: 7px;
    margin-bottom: 12px;
    background-color: white;
    font-size: 15px;
    vertical-align: top;
}

.descriptor {
    margin: 7px;
}
