<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>National Park Weather Service</title>
    <link rel="stylesheet" href="~/Content/stylesheet.css" />
</head>
<body>
    <header>
        <img src="~/Content/logo.png" alt="National Park Weather Service Logo" />
    </header>
    <nav>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Daily Survey!", "Survey", "Home")</li>
            <li>@Html.ActionLink("Park Rankings", "SurveyResult", "Home")</li>
        </ul>
    </nav>

    <section id="main">

        @RenderBody()

    </section>
    <footer>
        National Park Weather Service
    </footer>
</body>
</html>
